<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <h3 class="display-3 ">
                <i class="fa fa-shopping-cart"></i>Big-Basket
            </h3>
            <p class="lead px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci fugit odit iusto perspiciatis dolorum, enim iure voluptate mollitia ad? Officia rerum cum optio assumenda fuga, at qui architecto distinctio!</p>

        </div>
    </div>
</div>
